<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Are you a person that makes things for other people? Awesome—because this page is all about making things for people.">
  <title>Solid Start</title>
  <style type="text/css">*{box-sizing:border-box}body{background-color:#eee;color:#2d2d35;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:1.25rem;line-height:1.7;text-rendering:optimizeLegibility}main{max-width:70ch;padding:1rem}kbd{background-color:#2d2d35;color:#eee}</style>
  <link rel="canonical" href="https://www.solidstart.info/" />
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>